<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
    Android 10 trở xuống: READ/WIRTE_EXTERNAL_STORAGE
    Android 11,12: READ_EXTERNAL_STORAGE
    Android 13: READ_MEDIA_IMAGES, READ_MEDIA_VIDEO, READ_MEDIA_AUDIO
    -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTutorial">
        <activity
            android:name=".registerforactivityresult.common.ChooseFileActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.viewmodel.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.LifecycleExampleNavActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.LifecycleExampleActivity"
            android:exported="false" />
        <activity
            android:name=".senddatabetweenactivity.ReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".senddatabetweenactivity.SenderActivity"
            android:exported="false" />
        <!--
                Hoạt động giống singleTask, nhưng activity này sẽ luôn chạy trong một task riêng biệt (chỉ chứa nó).
        Không có activity nào khác có thể nằm chung task với nó.
        -->
        <activity
            android:name=".managementbackstack.manifestattributes.launchmode.AlarmRingActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".managementbackstack.manifestattributes.launchmode.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <!--
     Trong một task, chỉ có duy nhất một instance của activity đó.
        Nếu activity đã tồn tại ở dưới stack, toàn bộ activity ở trên nó sẽ bị xóa (finish), và activity đó sẽ được đưa lên đỉnh. Sau đó gọi onNewIntent().
        -->
        <activity
            android:name=".managementbackstack.manifestattributes.launchmode.NotificationDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" /> <!-- Nếu Acvitiy đang trên đỉnh stack thì không tạo mới mà gọi onNewIntent(). Nếu không thì vẫn tạo như bình thường. -->
        <activity
            android:name=".managementbackstack.manifestattributes.launchmode.LaunchModeExampleActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".registerforactivityresult.permission.SelectImageActivity"
            android:exported="false" />
        <activity
            android:name=".registerforactivityresult.common.RegisterForActivityResultExampleActivity"
            android:exported="false" />
        <activity
            android:name=".intentfilter.IntentFilterExampleActivity"
            android:exported="false">

            <!-- intent-filter> dung de khai bao action cho activity, -->
            <!-- Cho phep khoi tao 1 activity tu process khac -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigate.NavigateExampleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>